= form_for ([@film, @comment]) do |f|
  -if @comment.errors.any?
    .alert.alert-error
      %a.close{:href => "#", :"data-dismiss" => "alert"} ×
      %h4= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"

      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :comentario, :style => 'color: white; margin-top: 10px'
    .controls
      = f.text_area :comentario, :class => 'area-comment', :maxlength => 140
  .actions
    = f.submit "Crear Comentario", :class => 'btn btn-blue'
