.page-header
  = link_to new_comment_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Comment
  %h1 Listing comments

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Comentario
      %th
      %th
      %th

  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.comentario
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete
