<h2>Sign in</h2><br />

<div class="row">
<div class="span4">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label :login, :class => "label label-info"%>
  <%= f.text_field :login, :class => "input_form", :placeholder => "LOGIN" %><br />

  <%= f.label :password, :class => "label label-info" %>
  <%= f.password_field :password, :class => "input_form", :placeholder => "PASSWORD" %><br />

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, :class => "label label-info remember" %><br />
     
  <% end -%>
  <br />
  <%= f.submit "Sign in", :class => "btn btn-min btn-blue" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
<div class="span8"><%= image_tag("robot_sing_up.png") %></div>
</div>
