= form_for @group do |f|
  -if @group.errors.any?
    .alert.alert-error
      %a.close{:href => "#", :"data-dismiss" => "alert"} ×
      %h4= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"

      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :string, :class => 'control-label'
    .controls
      = f.text_field :string, :class => 'input-xxlarge'
  .actions
    = f.submit :class => 'btn btn-primary'
