.page-header
  = link_to new_group_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Group
  %h1 Listing groups

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th String
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.string
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete
