<h1>Mis tarjetas de crédito</h1>

<table class="tabla" style="width: 100%">
  <tr>
    <th>Nº de tarjeta</th>
    <th>Fecha de caducidad</th>
    <th>Codigo de seguridad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.cards.each do |card| %>
  <tr>
    <td><%= card.n_cuenta %></td>
    <td><%= time_tag card.fecha %></td>
    <td><%= card.secure_code %></td>
    <td class="btn-tabla"><%= link_to 'Mostrar', card, :class => "btn btn-mini btn-blue"%></td>
    <td class="btn-tabla"><%= link_to 'Editar', edit_card_path(card), :class => "btn btn-mini btn-blue" %></td>
    <td class="btn-tabla"><%= link_to 'Eliminar', card, confirm: '¿Eliminar datos de la tarjeta?', method: :delete, :class => "btn btn-mini btn-blue" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Añadir Tarjeta', new_card_path, :class => "btn btn-mini btn-blue" %>
