.page-header
  = link_to edit_user_registration_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    Back

  %h1 Mis Comentarios

%table.tabla
  %thead
    %tr
      %th.first Película
      %th Comentario
      %th
      %th
      %th
  %tbody
    - current_user.comments.each do |c|
      %tr
        %td.title-film
          = link_to c.film.title, c.film
        %td
          = c.comentario
        %td.link
          = link_to 'Ver', c.film, :class => "btn btm-mini btn-blue"
        %td.link
          = link_to 'Editar', edit_comment_path(c), :class => "btn btm-mini btn-blue"
        %td.link
          = link_to 'Eliminar', comment_path(c), confirm: '¿Seguro?', method: :delete, :class => "btn btm-mini btn-blue"
