.page-header

  %h1 Listing rents

%table.tabla
  %thead
    %tr
      %th User
      %th Film
      %th Start date
      %th End date
      %th Buy or Rent
      %th
      %th

  %tbody
    - @rents.each do |rent|
      %tr
        %td= rent.user_id
        %td= rent.film_id
        %td= rent.start_date
        %td= rent.end_date
        %td= rent.rent?
        %td.btn-tabla= link_to 'Edit', edit_rent_path(rent.id), :class => 'btn btn-mini btn-blue'
        %td.btn-tabla= link_to 'Destroy', rent_path(rent), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-blue'
