<div class="page-header">
<%= link_to new_film_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    Añadir Película
<%end%>

<h1>Gestión de Películas</h1>
</div>
<table class="tabla" style="width: 100%">
  <tr>
    <th>Título</th>
    <th>Año</th>
    <th>Duración</th>
    <th>Precio de Alquiler</th>
    <th>Precio de Compra</th>
    <th>Sinopsis</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%= link_to film.title, film  %></td>
    <td><%= film.year %></td>
    <td><%= film.time %></td>
    <td><%= film.rental_price %></td>
    <td><%= film.buy_price %></td>
    <td><%= film.sinopsis %></td>
    <td class="btn-tabla"><%= link_to 'Alquileres/Compras', film_rents_path(film.id), :class => "btn btn-mini btn-blue" %></td>
    <td class="btn-tabla"><%= link_to 'Mostrar', film, :class => "btn btn-mini btn-blue" %></td>
    <td class="btn-tabla"><%= link_to 'Editar', edit_film_path(film), :class => "btn btn-mini btn-blue" %></td>
    <td class="btn-tabla"><%= link_to 'Eliminar', film, confirm: '¿Seguro que desea eliminar la película?', method: :delete, :class => "btn btn-mini btn-blue" %></td>
  </tr>
<% end %>
</table>

<br />
