<div class="row">
<p id="notice"><%= notice %></p>
<div class="span3" id="MovieInfo">
  <div class="ImageContainer"><%= image_tag @film.poster.url %></div>
  <table class="table" id="TableInfoMovie">
    <body>
      <tr>
	<td>
          Año:
	</td>
	<td>
          <%= @film.year %>
	</td>
	</tr>
      <tr>
	<td>
	    Duración:
	</td>
	<td>
	    <%= @film.time %>
	</td>
      </tr>
      <tr>
 	<td colspan="2">
	Sinopsis: <br/>

	<%= @film.sinopsis %>
	</td>
      </tr>
    <body>
  </table>
</div>
<div class="span6" id="MovieContainer">
  <h1>
    <%= @film.title %>
  </h1>
  <p><%= video_tag @film.movie.url, :size => "560x400", :controls => true  %></p>
  <div class="row Comments"> Aquí van los comentarios!!! </div>
</div>
<div class="span2" id="GetMovie">

  <!-- <div class= "colorGrey">
    <button class="btn btn-large btn-danger btnPurchase">Comprar: <%= @film.buy_price %>€</button>

  </div> -->
  <button class="btn btn-large btn-danger btnPurchase">Comprar: <%= @film.buy_price %>€</button>
  <button class="btn btn-large btn-danger btnPurchase">Alquilar: <%= @film.rental_price %>€</button>
  <button class="btn btn-large btn-danger btnPurchase">Ver con Anuncios: Gratis</button>

  <!-- <div class= "colorGrey">
    <span><button class="btn btn-large btn-danger btnPurchase">Alquilar</button></span>
    <span><%= @film.rental_price %>€</span>
  </div> -->
  <!-- <div class= "colorGrey">
    <button class="btn btn-large btn-danger btnPurchase">Ver con Anuncios</button>
    Gratis
  </div> -->

</div>

</div>
<!-- <div>
<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
</div> -->
