.page-header
  = link_to new_commercial_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Commercial
  %h1 Lista de Anuncios

%table.tabla
  %thead
    %tr
      %th Nombre
      %th Archivo
      %th
      %th

  %tbody
    - @commercials.each do |commercial|
      %tr
        %td= commercial.name
        %td= video_tag commercial.file.url, :size => "260x200", :controls => true
        %td.btn-tabla= link_to 'Editar', edit_commercial_path(commercial), :class => "btn btn-mini btn-blue"
        %td.btn-tabla= link_to 'Eliminar', commercial, :confirm => '¿Seguro que deseas eliminarlo?', :method => :delete, :class => "btn btn-mini btn-blue"
