.page-header
  = link_to new_commercial_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Commercial
  %h1 Listing commercials

%table.tabla
  %thead
    %tr
      %th Name
      %th File
      %th
      %th

  %tbody
    - @commercials.each do |commercial|
      %tr
        %td= commercial.name
        %td= video_tag commercial.file.url, :size => "260x200", :controls => true
        %td.btn-tabla= link_to 'Edit', edit_commercial_path(commercial), :class => "btn btn-mini btn-blue"
        %td.btn-tabla= link_to 'Destroy', commercial, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-mini btn-blue"
