<h2>Forgot your password?</h2><br />

<div class="row">
<div class="span4">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label "put your login name", :class => "label label-info" %>
  <%= f.text_field :login, :class => "input_form"%><br />

  <%= f.submit "Send me reset password instructions", :class => "btn btn-min btn-blue" %><br />
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
<div class="span8"><%= image_tag("robot_sing_up.png") %></div>
</div>
