<html>
<!DOCTYPE html>
<head>
  <title>Videoclub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="container">
  <div id= "cabeza" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div id="logotipo">
          <%= image_tag("logo3.png") %>
          <%= image_tag("logo.png") %>
        </div>
        <form class="navbar-search">
          <input type="text" class="search-query" placeholder="Search">
        </form>
        <ul id="log" class="nav">
          <%= render 'users/menu/user_name' %>
    		  <%=render 'users/menu/login_items'%>
					<%=render 'users/menu/registration_items'%>
        </ul>    
      </div>
    </div>		
  </div>
  
  <div id="cuerpo">
	  <%= yield %>
  </div>

	<div id="pie" class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container-fluid">
    	  <ul id="nav_pie" class="nav" >
    		  <li><a href="#">About</a></li>
    			<li><a href="#">Contact</a></li>
    			<li><a href="#">Blog</a></li>
    		</ul>    
      </div>
    </div>		
  </div>
</div>




</body>
</html>
