<h2>Mi panel</h2><br />

<div class="row">
<div class="span4">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :Nombre_de_Usuario, :class => "label label-info"%>
  <%= f.text_field :username, :class => "input_form" %><br />

  <%= f.label :Email, :class => "label label-info" %>
  <%= f.email_field :email, :class => "input_form" %><br />

  <%= f.label :Contraseña, :class => "label label-info" %> <i>(Dejar en blanco si no desea cambiarlo)</i>
  <%= f.password_field :password, :class => "input_form", :autocomplete => "off" %><br />

  <%= f.label :Confirma_contraseña, :class => "label label-info" %>
  <%= f.password_field :password_confirmation, :class => "input_form" %><br />

  <%= f.label :Password_Actual, :class => "label label-info" %> <i>(Se necesita su contraseña actual para cambiar los datos)</i>
  <%= f.password_field :current_password, :class => "input_form" %><br />

  <%= f.submit "Actualizar", :class => "btn btn-min btn-blue" %>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿No está contento? <%= link_to "Cancelar cuenta", registration_path(resource_name), :confirm => "¿Está seguro de que desea cancelar la cuenta? NO podrá recuperarla", :method => :delete %>.</p>

<%= link_to "Back", :back %>

</div>
<div class="span8">
  <%=link_to "Mis Comentarios", mycomments_path, :class=>"btn btn-info" %>
  <%=link_to "Mis Alquileres", myrents_path, :class=>"btn btn-info" %>
  <%=render '/users/tarjetas'%>
</div>

</div>
