<h2>Edit <%= resource_name.to_s.humanize %></h2><br />

<div class="row">
<div class="span4">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :username, :class => "label label-info"%>
  <%= f.text_field :username, :class => "input_form" %><br />

  <%= f.label :email, :class => "label label-info" %>
  <%= f.email_field :email, :class => "input_form" %><br />

  <%= f.label :password, :class => "label label-info" %> <i>(leave blank if you don't want to change it)</i>
  <%= f.password_field :password, :class => "input_form", :autocomplete => "off" %><br />

  <%= f.label :password_confirmation, :class => "label label-info" %>
  <%= f.password_field :password_confirmation, :class => "input_form" %><br />

  <%= f.label :current_password, :class => "label label-info" %> <i>(we need your current password to confirm your changes)</i>
  <%= f.password_field :current_password, :class => "input_form" %><br />

  <%= f.submit "Update", :class => "btn btn-min btn-blue" %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>

</div>
<div class="span8"><%=render '/users/comentario'%></div>
</div>
